$white: #fff;
$green: #097969;
$black: #000;
$font1: Helvetica, Arial, sans-serif;
$font2: "Overpass", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textWhite {
  color: $white;
}

/* esconder scrollbar no: chrome, safari, edge, opera */

::-webkit-scrollbar {
  display: none;
}

/* esconder scrollbar no: internet explorer*/
body {
  -ms-overflow-style: none;
}

/* esconder scrollbar no: firefox*/
html {
  scrollbar-width: none;
}

a {
  text-decoration: none;
  list-style: none;
  outline: none;
}
