footer {
  height: 300px;
  background-color: $green;

  #footerContainer {
    display: flex;
    justify-content: space-around;

    #footerLogo{
        width: 250px;
        cursor: pointer;
    }

    #footerTitle {
      color: $white;
      font-family: $font1;
      font-size: 28px;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .footerText {
      color: $white;
      font-family: $font2;
      font-size: 20px;
      margin-top: 7px;

      .footerIcon {
        font-size: 22px;
        margin-right: 10px;
      }
    }

    #copyright{
        margin-left: 20px;
    }
  }
}
